*{
    margin: 0;
    padding: 0;
}
main{
    width: 80%;
    margin: 10px auto;
}
main>header{
    background:#888;
    color:rgba(0, 89, 255, 0.788);
    padding-right:30px;  
}
main header h1{
    font-size: 20px;
    line-height: 2.5;
}
section{
    display: flex;
    height: 100px;
    border: 1px solid #ccc;
    border-top:none; 
}
section header{
    width: 10%;
    background:rgba(0, 255, 115, 0.61);
}
section header h2{
    font-size: 15px;
    line-height: 100px;
    text-align: center;
}
section ul,section>div{
    margin-top:10px; 
}
section ul{
    list-style: none;
}
section .a_1{
    font-weight: 600;
    padding-right:10px; 
}
section div p{
    display: inline-block;
    line-height: 1.3;
}
section ul li{
    display: inline-block;
    margin-right:30px; 
}